.section {
    background-color: white;
    margin: 10px 0;
    word-break: break-word;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    border-bottom: 2px solid #eee;
    font-size: 20px;
    padding: 20px 15px;
    margin: 0;
}

@media (max-width: 768px) {
    .section__header {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
}


.section__list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    background-color: white;
}

@media (max-width: 768px) {
    .section__list {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
}


